* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/*Styling the body*/
body {
  background: #f5f6fa;
  display: flex;
  height: 100vh;
}
/*The dashbaord styling section*/
.main-dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}
/*the side-bar styling*/
.side-bar {
  width: 240px;
  height: max-content;
  background: #11cf3d;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-bar .logo {
  width: 50px;
  height: 39px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
/*styling the navigations*/
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}
.nav-item.active {
  background: white;
}
.nav-item.active p {
  color: #11cf3d;
}
.nav-links a {
  text-decoration: none;
  width: 100%;
}
.nav-item img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.nav-item.active img {
  filter: none;
}

.nav-item:hover:not(.active) {
  background: rgba(0, 0, 0, 0.1);
}
.nav-item p {
  color: white;
  font-weight: 500;
  margin: 0;
}
/*styling the support section*/
.support {
  background: rgba(0, 0, 0, 0.1);
  padding: 18px;
  border-radius: 12px;
}

.support-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}
.support-words {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.9;
  line-height: 1.5;
}
.con-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  margin-bottom: 20px;
}

.con-button:hover {
  background: #f1fff4;
  transform: translate(-2px);
}
.con-icon {
  width: 24px;
  height: 24px;
}
.con-words {
  color: #11cf3d;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.terms {
  font-size: 11px;
  opacity: 0.75;
  line-height: 1.3;
  color: white;
}
/* the main_content styling*/
.main-content {
  flex: 1;
  padding: 30px;
  background: #f5f6fa;
}
/*The media-responsives*/
@media (max-width: 850px) {
  .side-bar {
    width: 100px;
  }
  .nav-item p {
    display: none;
  }
}
@media (max-width: 600px) {
  .side-bar {
    display: none;
  }
  .main-content {
    padding: 15px;
  }
}
